<div class="person">
	<div class="headpic">
		<img class="bgpic" src="20150829223452_zh5BH.png">
		<img class="smallpic" src="20150829223452_zh5BH.png">
	</div>
	<div class="listbox">
		<ul class="list">
			<li><a href="#"><span>></span>我是代言人</a></li>
			<li><a href="#"><span>></span>我的订单</a></li>
			<li><a href="#"><span>></span>我的优惠券</a></li>
			<li><a href="#"><span>></span>我的账户</a></li>
			<li><a href="#"><span>></span>玩乐商城</a></li>
			<li><a href="#"><span>></span>我要吐槽</a></li>
		</ul>
	</div>
</div>
