<div class="home_box">
	<div class="home_box_imgbox">
	</div>
</div>
<div class="home_boll">
	<p>
		<span class="boll boll_live"></span>
		<span class="boll"></span>
		<span class="boll"></span>
	</p>
</div>
<div class="home_center">
	<!-- <img src="http://happyday.applinzi.com/img/spec1.jpg">
	<img src="http://happyday.applinzi.com/img/spec2.jpg"> -->
</div>
<div class="home_bottom">
	<div class="top_box">
		<p class="top">精彩推荐</p>
	</div>
	<ul>
		<!-- <li><img src="http://happyday.applinzi.com/img/index1.png"></li> -->
<!-- 		<li><img src="http://happyday.applinzi.com/img/index2.png"></li> -->
<!-- 		<li><img src="http://happyday.applinzi.com/img/index3.png"></li> -->
<!-- 		<li><img src="http://happyday.applinzi.com/img/index4.png"></li> -->
	</ul>
</div>
