<div class="leyuan">
	<p class="nav">
		<a href="javascript:void(0)">
			分类
		</a>
		<a href="javascript:void(0)">
			全城
		</a>
		<a href="javascript:void(0)">
			排序
		</a>
		<div class="panel">
			<section>全城</section>
			<section>东城区</section>
			<section>西城区</section>
			<section>崇文区</section>
			<section>宣武区</section>
			<section>朝阳区</section>
			<section>丰台区</section>
			<section>石景山区</section>
			<section>海淀区</section>
			<section>门头沟区</section>
			<section>房山区</section>
			<section>通州区</section>
			<section>顺义区</section>
			<section>昌平区</section>
			<section>大兴区</section>
			<section class="bottom_line">怀柔区</section>
			<section class="bottom_line">平谷区</section>
			<section class="bottom_line">密云县</section>
			<section>延庆县</section>
		</div>
	</p>
	<ul class="list_box">
		
	</ul>
		
</div>
